<h4>classified postings </h4>
<ul>
  <li>how to post</li>
  are all ads free?
  how to reply
  what is 2-way email relay?
  how to edit or delete
  how to re-post
  how to add images
  resend post/edit/delete email
  user accounts
  phone verification
  where is my posting?
  where is my self-publishing email?
  why was my posting deleted?
  what are "flags" and "flagging"
  what HTML is supported?
  what are favorites?
  where can i advertise my services?
  email rejected - non-generic DNS
  email rejected - rDNS failure
  frequently asked questions
</ul>

{{#link-to 'index'}}Home{{/link-to}}
