<h1>Craigslist Clone</h1>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post savePost="savePost"}}

<hr>
{{#link-to 'about'}}help{{/link-to}}
{{#link-to 'about'}}about{{/link-to}}
