<h3>Posts</h3>
<ul>
  {{#each model as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post savePost="savePost"}}

<hr>

<h3>Categories</h3>

<ul>
  {{#each model.categories as |category|}}
    <li>{{category.name}}</li>
  {{/each}}
</ul>

<hr>
